div#banner Yo ecommerce!
ul
	li
		ul
			a(href='/store') Home
	li
		ul 
			a(href='/store/tv') TVs
	li
		ul
			a(href='/store/car') Cars
	li
		ul
			a(href='/store/fan') Fans
	li
		ul
			a(href='/store/router') Wireless Routers
div#signature Apurva Pradeep Pawar